.font-mono {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

.github-fork {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 150px;
  height: 150px;
}

.shortcode-display-textarea[disabled] {
  pointer-events: none;
}
